.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  align-self: flex-start;
  font-weight: 500;
}

button {
  padding: 0.5rem 1rem;
}

.searchBar {
  display: flex;
  align-items: flex-end;
  jusify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
  width: 100%;
}

.searchBar input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.error {
  color: #e94638;
  width: 100%;
}

@media (max-width: 768px) {
  .form button {
    width: 100%;
  }

  .searchBar {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .checkboxLabel {
    width: fit-content;
    display: block;
  }

  .clearButton {
    width: 100%;
  }
}
