.container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  align-items: flex-end
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.label {
  align-self: flex-start;
  font-weight: 500;
}

button {
  padding: 0.5rem 1rem;
}

.searchBar {
  display: flex;
  align-items: flex-end;
  jusify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
  width: 100%;
}

.searchBar input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end
}

.tableContainer input {
  flex: 1;
  padding: 0.5rem;
}

.table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
}

.tableWrapper {
  overflow-x: auto;
  width: 100%;
}

.table th,
.table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.dataCentered {
  text-align: center;
}

.error {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.activePage {
  background-color: #333;
  color: white;
  font-weight: bold;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 2rem;
    text-align: center;
  }

  .form button {
    width: 100%;
  }

  .searchBar {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .checkboxLabel {
    width: fit-content;
    display: block;
  }

  .clearButton {
    width: 100%;
  }

  .table th,
  .table td {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}
